/* Add styles here */
body { 
   background-color: #DBD0A2;
 }

   /*Contenedor principal */
.container {
   display: flex;
   flex: 1 1 calc(25% - 20px);
  }

.col {
   flex:1 1 calc(25%); ; 
  
}
.doble {
   flex: 2; /* Hace que esta columna ocupe el doble del espacio de una normal */
}

.triple {
   flex: 3; /* Ocupa el espacio de tres columnas */
}


.item {
   padding: 20px;
   text-align: justify;
}




/*.text {
    font-size: 24;
    font-weight: normal;
    font-family: "Be Vietnam Pro";
    font-style: normal;

}


.tit{
    font-family: "Lexend Exa";   
    font-style: bold;
    color:#9F0000;
    font-size: 36pt;
    text-align: center;
}

.subt{
    font-family: "Lexend Exa";
    font-style: medium;
    font-size: 24pt;
}

*/ 
/* responsividad*/ 
@media (max-width: 768px) {
   .col {
       flex: 1 1 100%; /* Las columnas ocuparán el 100% del ancho en pantallas pequeñas */
   }
}